
<footer class="page-footer font-small fixed-bottom">

    <div class="d-flex py-2 px-2 justify-content-between text-muted">
        <div class="p-2"><a href="https://www.upgrad.com/contact/">Contact Us</a></div>
        <div class="p-2">©upGrad</div>
        <div class="p-2"><a class="facebook" href="https://www.facebook.com/UpGradGlobal">Facebook</a><a href="https://twitter.com/UpGrad_Edu">Twitter</a></div>
    </div>


    <!-- <a href="https://www.upgrad.com/contact/">Contact Us</a> -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-left py-3">©upGrad</div> -->
    <!-- Copyright -->
</footer>





